@import "tailwindcss";

@theme { 
  --color-primary: #5E1028;
  --color-black: #232323; 
  --color-light: #F5F7F6; 
  --color-gray-text: #6C756F; 
  --color-border-color: #D5DBD7; }

body {
  @apply bg-white text-gray-800 antialiased font-sans;
}
