@import "tailwindcss";

@theme {
  --color-primary: #7A1E3A;
  --color-dark: #ffffff;
  --color-light: #FAF5F7;
  --color-gray-text: #1F2937;
  --color-border-color: #D6C5C0;
}

body {
  @apply bg-light text-gray-800 antialiased font-sans;
}
